### Importaci√≥n de datos

In [1]:
import pandas as pd

url1 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda1 = pd.read_csv(url1)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

#0. Exploracion de datos

In [2]:
tienda1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categor√≠a del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de env√≠o          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificaci√≥n            2359 non-null   int64
 8   M√©todo de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

## df tienen mismas columnas

In [10]:

# def is_same_columns(all_data ):
#   set_col = set(all_data[0].columns)
#   set_col_type = set(all_data[0].dtypes)
#   for data in all_data:
#     if set(data.columns) != set_col:
#       return False
#     if set(data.dtypes) != set_col_type:
#       return False

#   return True


def is_same_columns(all_data):
    """
    Check if all DataFrames in a list have identical columns and dtypes.
    """
    if not all_data:
        return True  # Empty list ‚Äî no conflict

    # Reference from first DataFrame
    ref = all_data[0]
    ref_cols = list(ref.columns)
    ref_dtypes = ref.dtypes.to_dict()

    for i, df in enumerate(all_data[1:], start=2):
        if not df.columns.equals(ref.columns):
            print(f"‚ùå Columns differ in DataFrame {i}")
            return False
        if not df.dtypes.equals(ref.dtypes):
            print(f"‚ùå Dtypes differ in DataFrame {i}")
            return False

    return True

all_data = [tienda1, tienda2, tienda3, tienda4]
is_same_columns(all_data)

{'Producto': dtype('O'), 'Categor√≠a del Producto': dtype('O'), 'Precio': dtype('float64'), 'Costo de env√≠o': dtype('float64'), 'Fecha de Compra': dtype('O'), 'Vendedor': dtype('O'), 'Lugar de Compra': dtype('O'), 'Calificaci√≥n': dtype('int64'), 'M√©todo de pago': dtype('O'), 'Cantidad de cuotas': dtype('int64'), 'lat': dtype('float64'), 'lon': dtype('float64')}

True

## Ajuste formato tiempo

In [69]:
def adjust_date_format(df, column_name='Fecha de Compra'):
  df[column_name] = pd.to_datetime(df[column_name], errors='coerce', dayfirst=True)

#all_data = [tienda1, tienda2, tienda3, tienda4]
for df in all_data:
  adjust_date_format(df)

In [71]:
tienda1.head()

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electr√≥nicos,164300.0,6900.0,2021-01-16,Pedro Gomez,Bogot√°,4,Tarjeta de cr√©dito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,2022-05-18,Beatriz Morales,Medell√≠n,1,Tarjeta de cr√©dito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,2021-03-15,Juan Fernandez,Cartagena,1,Tarjeta de cr√©dito,1,10.39972,-75.51444
3,Microondas,Electrodom√©sticos,757500.0,41000.0,2022-05-03,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,2020-11-07,Maria Alfonso,Medell√≠n,5,Nequi,1,6.25184,-75.56359

## df tiene mismas Categor√≠a del Producto

In [61]:
categorias = set(tienda1['Categor√≠a del Producto'].unique())
print(categorias)

for name, df in zip(['tienda1', 'tienda2', 'tienda3', 'tienda4'], all_data):
  print(name,set(df['Categor√≠a del Producto'].unique()) == categorias)

#categorias = set(tienda1['Categor√≠a del Producto'].unique())

{'Instrumentos musicales', 'Electrodom√©sticos', 'Art√≠culos para el hogar', 'Deportes y diversi√≥n', 'Electr√≥nicos', 'Muebles', 'Libros', 'Juguetes'}
tienda1 True
tienda2 True
tienda3 True
tienda4 True

## revision global

In [72]:
#Using a specific category
df = tienda1

global_info ={}
for col in df.columns:
  if df[col].dtype == 'object':
    global_info[col] = df[col].unique()


#cat = 'Electrodom√©sticos'
#df[df['Categor√≠a del Producto']=='Electrodom√©sticos']['Producto'].unique()

for k,v in global_info.items():
  print(k,v)

Producto ['Asistente virtual' 'Mesa de comedor' 'Juego de mesa' 'Microondas'
 'Silla de oficina' 'Bloques de construcci√≥n' 'Mu√±eca beb√©' 'Lavavajillas'
 'Lavadora de ropa' 'Carrito de control remoto' 'Refrigerador'
 'Auriculares' 'Olla de presi√≥n' 'Bicicleta' 'Ciencia de datos con Python'
 'Bal√≥n de voleibol' 'Ajedrez de madera' 'TV LED UHD 4K' 'Vaso t√©rmico'
 'Kit de bancas' 'Dashboards con Power BI' 'Cuberter√≠a' 'Set de ollas'
 'Bater√≠a' 'Cuerda para saltar' 'Estufa' 'Cama box' 'Impresora'
 'Mesa de noche' 'Armario' 'Dinosaurio Rex' 'Guitarra el√©ctrica'
 'Secadora de ropa' 'Sof√° reclinable' 'Tablet ABXY' 'Cubo m√°gico 8x8'
 'Set de vasos' 'Modelado predictivo' 'Iphone 15' 'Mochila'
 'Bal√≥n de baloncesto' 'Auriculares con micr√≥fono' 'Sill√≥n'
 'Guitarra ac√∫stica' 'Iniciando en programaci√≥n' 'Celular ABXY'
 'Smartwatch' 'Mesa de centro' 'Cama king' 'Smart TV' 'Pandereta']
Categor√≠a del Producto ['Electr√≥nicos' 'Muebles' 'Juguetes' 'Electrodom√©sticos'
 'Art√≠culos para el hogar' 'Deportes y diversi√≥n' 'Libros'
 'Instrumentos musicales']
Vendedor ['Pedro Gomez' 'Beatriz Morales' 'Juan Fernandez' 'Maria Alfonso'
 'Felipe Santos' 'Izabela de Le√≥n' 'Blanca Ramirez' 'Rafael Acosta'
 'Camila Rivera' 'Juliana Costa' '√Ångel Rodriguez' 'Mariana Herrera'
 'Lucas Olivera' 'Santiago Silva']
Lugar de Compra ['Bogot√°' 'Medell√≠n' 'Cartagena' 'Cali' 'Santa Marta' 'Pereira'
 'Barranquilla' 'Villavicencio' 'In√≠rida' 'C√∫cuta' 'Manizales' 'Neiva'
 'Bucaramanga' 'Valledupar' 'Pasto' 'Riohacha' 'Armenia' 'Leticia'
 'Soacha']
M√©todo de pago ['Tarjeta de cr√©dito' 'Nequi' 'Cup√≥n' 'Tarjeta de d√©bito']

## Productos por categoria

In [76]:
df = tienda1
productos_por_categoria = {}
for cat in df['Categor√≠a del Producto'].unique():
  productos_por_categoria[cat] = df[df['Categor√≠a del Producto']==cat]['Producto'].unique()
  print(cat,productos_por_categoria[cat])
  print()

Electr√≥nicos ['Asistente virtual' 'Auriculares' 'TV LED UHD 4K' 'Impresora'
 'Tablet ABXY' 'Iphone 15' 'Auriculares con micr√≥fono' 'Celular ABXY'
 'Smartwatch' 'Smart TV']

Muebles ['Mesa de comedor' 'Silla de oficina' 'Kit de bancas' 'Cama box'
 'Mesa de noche' 'Armario' 'Sof√° reclinable' 'Sill√≥n' 'Mesa de centro'
 'Cama king']

Juguetes ['Juego de mesa' 'Bloques de construcci√≥n' 'Mu√±eca beb√©'
 'Carrito de control remoto' 'Ajedrez de madera' 'Dinosaurio Rex'
 'Cubo m√°gico 8x8']

Electrodom√©sticos ['Microondas' 'Lavavajillas' 'Lavadora de ropa' 'Refrigerador' 'Estufa'
 'Secadora de ropa']

Art√≠culos para el hogar ['Olla de presi√≥n' 'Cuberter√≠a' 'Set de ollas' 'Set de vasos']

Deportes y diversi√≥n ['Bicicleta' 'Bal√≥n de voleibol' 'Vaso t√©rmico' 'Cuerda para saltar'
 'Mochila' 'Bal√≥n de baloncesto']

Libros ['Ciencia de datos con Python' 'Dashboards con Power BI'
 'Modelado predictivo' 'Iniciando en programaci√≥n']

Instrumentos musicales ['Bater√≠a' 'Guitarra el√©ctrica' 'Guitarra ac√∫stica' 'Pandereta']

In [77]:
#all_data = [tienda1, tienda2, tienda3, tienda4]
# for df in all_data:
#   print(df.shape)
#   check_nan = df.isna().sum()
#   check_nan = check_nan[check_nan > 0]
#   print(check_nan)
#   print(df.describe().round(2))
#   print("-"*50)


def summarize_dataframes(dataframes, names=None):
    """
    Print a concise summary for each DataFrame:
    - Shape (rows, columns)
    - Columns with missing values and their counts
    - Descriptive statistics (rounded to 2 decimals)
    """
    if names is None:
        names = [f"DataFrame {i+1}" for i in range(len(dataframes))]

    for name, df in zip(names, dataframes):
        print(f"\nüìä Summary for {name}")
        print("=" * (12 + len(name)))

        # Shape
        print(f"Shape: {df.shape[0]} rows √ó {df.shape[1]} columns")

        # Missing values
        na_counts = df.isna().sum()
        na_counts = na_counts[na_counts > 0]
        if not na_counts.empty:
            print("\nMissing values:")
            print(na_counts.sort_values(ascending=False))
        else:
            print("\nNo missing values ‚úÖ")

        # Descriptive statistics
        print("\nDescriptive statistics:")
        #print(df.describe(include='all').round(2))
        print(df.describe().round(2))
        print("-" * 60)

summarize_dataframes(all_data, ['tienda1', 'tienda2', 'tienda3', 'tienda4'])

üìä Summary for tienda1
===================
Shape: 2359 rows √ó 12 columns

No missing values ‚úÖ

Descriptive statistics:
           Precio  Costo de env√≠o                Fecha de Compra  \
count     2359.00         2359.00                           2359
mean    487867.91        26018.61  2021-08-17 12:02:08.189911296
min       7600.00            0.00            2020-01-01 00:00:00
25%      55750.00         3100.00            2020-10-26 00:00:00
50%     235300.00        12400.00            2021-08-23 00:00:00
75%     678100.00        36000.00            2022-06-06 00:00:00
max    2977000.00       160800.00            2023-03-31 00:00:00
std     614686.77        32860.00                            NaN

       Calificaci√≥n  Cantidad de cuotas      lat      lon
count       2359.00             2359.00  2359.00  2359.00
mean           3.98                2.94     5.37   -74.79
min            1.00                1.00    -4.22   -77.28
25%            3.00                1.00     4.61   -75.56
50%            5.00                1.00     4.61   -74.20
75%            5.00                4.00     6.25   -74.08
max            5.00               24.00    11.54   -67.92
std            1.42                2.82     2.29     1.22
------------------------------------------------------------

üìä Summary for tienda2
===================
Shape: 2359 rows √ó 12 columns

No missing values ‚úÖ

Descriptive statistics:
           Precio  Costo de env√≠o                Fecha de Compra  \
count     2359.00         2359.00                           2359
mean    473227.43        25216.24  2021-08-23 05:49:09.894022912
min       7600.00            0.00            2020-01-01 00:00:00
25%      54550.00         2900.00            2020-10-31 00:00:00
50%     218200.00        11600.00            2021-08-27 00:00:00
75%     677700.00        35450.00            2022-06-10 00:00:00
max    2953400.00       162500.00            2023-03-31 00:00:00
std     595559.55        31741.38                            NaN

       Calificaci√≥n  Cantidad de cuotas      lat      lon
count       2359.00             2359.00  2359.00  2359.00
mean           4.04                2.90     5.50   -74.74
min            1.00                1.00    -4.22   -77.28
25%            4.00                1.00     4.61   -75.56
50%            5.00                1.00     4.61   -74.20
75%            5.00                4.00     6.25   -74.08
max            5.00               24.00    11.54   -67.92
std            1.36                2.85     2.35     1.19
------------------------------------------------------------

üìä Summary for tienda3
===================
Shape: 2359 rows √ó 12 columns

No missing values ‚úÖ

Descriptive statistics:
           Precio  Costo de env√≠o                Fecha de Compra  \
count     2359.00         2359.00                           2359
mean    465459.77        24805.68  2021-08-22 16:01:25.459940608
min       7600.00            0.00            2020-01-01 00:00:00
25%      57400.00         3100.00            2020-10-27 12:00:00
50%     226300.00        11900.00            2021-09-06 00:00:00
75%     666050.00        34950.00            2022-06-15 12:00:00
max    2968200.00       158400.00            2023-03-31 00:00:00
std     580643.39        30945.89                            NaN

       Calificaci√≥n  Cantidad de cuotas      lat      lon
count       2359.00             2359.00  2359.00  2359.00
mean           4.05                2.97     5.44   -74.73
min            1.00                1.00    -4.22   -77.28
25%            4.00                1.00     4.61   -75.56
50%            5.00                2.00     4.61   -74.20
75%            5.00                4.00     6.25   -74.08
max            5.00               24.00    11.54   -67.92
std            1.39                2.81     2.41     1.22
------------------------------------------------------------

üìä Summary for tienda4
===================
Shape: 2358 rows √ó 12 columns

No missing values ‚úÖ

Descriptive statistics:
           Precio  Costo de env√≠o                Fecha de Compra  \
count     2358.00         2358.00                           2358
mean    440362.89        23459.46  2021-08-01 20:25:38.931297792
min       7600.00            0.00            2020-01-01 00:00:00
25%      53400.00         2900.00            2020-10-23 06:00:00
50%     209450.00        10950.00            2021-07-28 00:00:00
75%     634225.00        33300.00            2022-05-12 00:00:00
max    2902200.00       154700.00            2023-03-30 00:00:00
std     568755.60        30279.10                            NaN

       Calificaci√≥n  Cantidad de cuotas      lat      lon
count        2358.0             2358.00  2358.00  2358.00
mean            4.0                2.90     5.41   -74.77
min             1.0                1.00    -4.22   -77.28
25%             3.0                1.00     4.61   -75.56
50%             5.0                1.00     4.61   -74.20
75%             5.0                4.00     6.25   -74.08
max             5.0               18.00    11.54   -67.92
std             1.4                2.73     2.38     1.20
------------------------------------------------------------

In [56]:
import pandas as pd

def review_outliers_iqr(df, threshold=1.5, show_all=False):
    """
    Detect potential outliers in numeric columns using the IQR method.

    Parameters
    ----------
    df : pd.DataFrame
        The DataFrame to analyze.
    threshold : float, optional (default=1.5)
        The multiplier for the IQR. 1.5 is common, 3.0 is stricter.
    show_all : bool, optional (default=False)
        If True, returns a DataFrame with all counts; otherwise, prints a summary.

    Returns
    -------
    pd.DataFrame (if show_all=True)
        Table with count and percentage of outliers per column.
    """
    results = []

    numeric_df = df.select_dtypes(include='number')

    for col in numeric_df.columns:
        Q1 = numeric_df[col].quantile(0.25)
        Q3 = numeric_df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - threshold * IQR
        upper_bound = Q3 + threshold * IQR

        outliers = numeric_df[(numeric_df[col] < lower_bound) | (numeric_df[col] > upper_bound)][col]
        count = len(outliers)
        perc = (count / len(df)) * 100

        results.append({
            'column': col,
            'outlier_count': count,
            'outlier_%': round(perc, 2),
            'min': numeric_df[col].min(),
            'Q1': round(Q1, 2),
            'Q3': round(Q3, 2),
            'max': numeric_df[col].max()
        })

    summary = pd.DataFrame(results).sort_values(by='outlier_%', ascending=False)

    if show_all:
        return summary
    else:
        print(summary[summary['outlier_count'] > 0].to_string(index=False))
        if (summary['outlier_count'] == 0).all():
            print("‚úÖ No potential outliers detected.")


for name, df in zip(['tienda1', 'tienda2', 'tienda3', 'tienda4'], all_data):
  print(name)
  review_outliers_iqr(df, threshold=1.5, show_all=False)

tienda1
            column  outlier_count  outlier_%        min       Q1        Q3           max
               lat            258      10.94   -4.21528     4.61      6.25  1.154444e+01
    Costo de env√≠o            177       7.50    0.00000  3100.00  36000.00  1.608000e+05
Cantidad de cuotas            169       7.16    1.00000     1.00      4.00  2.400000e+01
            Precio            168       7.12 7600.00000 55750.00 678100.00  2.977000e+06
               lon             37       1.57  -77.28111   -75.56    -74.08 -6.792390e+01
tienda2
            column  outlier_count  outlier_%        min       Q1        Q3           max
      Calificaci√≥n            366      15.52    1.00000     4.00      5.00  5.000000e+00
               lat            286      12.12   -4.21528     4.61      6.25  1.154444e+01
Cantidad de cuotas            175       7.42    1.00000     1.00      4.00  2.400000e+01
    Costo de env√≠o            166       7.04    0.00000  2900.00  35450.00  1.625000e+05
            Precio            156       6.61 7600.00000 54550.00 677700.00  2.953400e+06
               lon             36       1.53  -77.28111   -75.56    -74.08 -6.792390e+01
tienda3
            column  outlier_count  outlier_%        min       Q1        Q3           max
      Calificaci√≥n            376      15.94    1.00000     4.00      5.00  5.000000e+00
               lat            281      11.91   -4.21528     4.61      6.25  1.154444e+01
Cantidad de cuotas            163       6.91    1.00000     1.00      4.00  2.400000e+01
    Costo de env√≠o            156       6.61    0.00000  3100.00  34950.00  1.584000e+05
            Precio            143       6.06 7600.00000 57400.00 666050.00  2.968200e+06
               lon             45       1.91  -77.28111   -75.56    -74.08 -6.792390e+01
tienda4
            column  outlier_count  outlier_%        min       Q1        Q3           max
               lat            291      12.34   -4.21528     4.61      6.25  1.154444e+01
    Costo de env√≠o            183       7.76    0.00000  2900.00  33300.00  1.547000e+05
            Precio            176       7.46 7600.00000 53400.00 634225.00  2.902200e+06
Cantidad de cuotas            158       6.70    1.00000     1.00      4.00  1.800000e+01
               lon             38       1.61  -77.28111   -75.56    -74.08 -6.792390e+01

In [55]:
tienda1_outliers = review_outliers_iqr(tienda1, threshold=1.5, show_all=True).drop(columns=['min', 'max'])
tienda1_outliers #55750.00 678100.00

               column  outlier_count  outlier_%        Q1         Q3
4                 lat            258      10.94      4.61       6.25
1      Costo de env√≠o            177       7.50   3100.00   36000.00
3  Cantidad de cuotas            169       7.16      1.00       4.00
0              Precio            168       7.12  55750.00  678100.00
5                 lon             37       1.57    -75.56     -74.08
2        Calificaci√≥n              0       0.00      3.00       5.00

In [57]:
threshold = 1.5
Q1 = float(tienda1_outliers[tienda1_outliers['column'] == 'Precio' ]['Q1'][0])
Q3 = float(tienda1_outliers[tienda1_outliers['column'] == 'Precio' ]['Q3'][0])
print(Q1,Q3)
IQR = Q3 - Q1
lower_bound = Q1 - threshold * IQR
upper_bound = Q3 + threshold * IQR

tienda1[(tienda1['Precio'] >= upper_bound) | (tienda1['Precio'] <= lower_bound)]

55750.0 678100.0

,Producto,Categor√≠a del Producto,Precio,Costo de env√≠o,Fecha de Compra,Vendedor,Lugar de Compra,Calificaci√≥n,M√©todo de pago,Cantidad de cuotas,lat,lon
10,Refrigerador,Electrodom√©sticos,2431300.0,127600.0,03/04/2020,Blanca Ramirez,Bogot√°,5,Tarjeta de cr√©dito,2,4.60971,-74.08175
18,TV LED UHD 4K,Electr√≥nicos,1891700.0,107900.0,09/01/2022,Beatriz Morales,Bogot√°,3,Tarjeta de cr√©dito,5,4.60971,-74.08175
65,Iphone 15,Electr√≥nicos,2525400.0,135000.0,03/03/2023,Maria Alfonso,Medell√≠n,4,Tarjeta de cr√©dito,1,6.25184,-75.56359
79,Iphone 15,Electr√≥nicos,2172400.0,113900.0,11/09/2022,Lucas Olivera,Bogot√°,5,Nequi,1,4.60971,-74.08175
113,TV LED UHD 4K,Electr√≥nicos,2761500.0,147300.0,15/12/2020,Rafael Acosta,Bogot√°,5,Nequi,1,4.60971,-74.08175
...,...,...,...,...,...,...,...,...,...,...,...,...
2274,Refrigerador,Electrodom√©sticos,2047000.0,111400.0,03/09/2021,Blanca Ramirez,Bogot√°,1,Tarjeta de cr√©dito,2,4.60971,-74.08175
2287,Refrigerador,Electrodom√©sticos,2510000.0,131800.0,01/12/2020,Rafael Acosta,Bogot√°,5,Nequi,1,4.60971,-74.08175
2315,TV LED UHD 4K,Electr√≥nicos,2645600.0,139100.0,18/01/2023,Juan Fernandez,Cali,5,Tarjeta de cr√©dito,3,3.43722,-76.52250
2317,Refrigerador,Electrodom√©sticos,2311300.0,121300.0,13/02/2022,Juan Fernandez,Villavicencio,5,Tarjeta de cr√©dito,3,4.14200,-73.62664
2331,Refrigerador,Electrodom√©sticos,2392700.0,125600.0,30/04/2020,Rafael Acosta,Medell√≠n,5,Tarjeta de cr√©dito,1,6.25184,-75.56359

#1. An√°lisis de facturaci√≥n

# 2. Ventas por categor√≠a

# 3. Calificaci√≥n promedio de la tienda

# 4. Productos m√°s y menos vendidos

# 5. Env√≠o promedio por tienda